<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css.map" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/header.css" />

    <style>
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .address:focus,
      button:focus {
        box-shadow: none !important;
      }
      .col-lg-9 .card {
        height: 100%;
        width: 920px;
      }

      .col-lg-3 .card {
        padding-top: 1rem;
        width: 400px;
        margin-right: 0px;
      }
      #city::before{
        background-image: url("/img/icons8-location-50");
        width:20px;
        height: 20px;
      }
    </style>
  </head>
  <body class="bg-light">
    <!-- start header  -->
<header class="container-fluid ">
  <nav class="navbar navbar-expand-lg navbar-light ">
          <a href="/" class="navbar-brand me-4">
            <img src="img/house22.png" alt="logo" />  
              </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav me-4">
                <a href="/" class="nav-item nav-link ">الرئيسية</a>
                <a href="/Kitchens" class="nav-item nav-link">مطابخنا</a>
              <% if(isUser) { %>
                <a href="/cart" class="nav-item nav-link">سلة المشتريات</a>
                <a href="/favorite" class="nav-item nav-link">المفضلة</a>
                  <% } %>
                <a href="/about" class="nav-item nav-link">حول</a>
                <a href="/cotactUs" class="nav-item nav-link " >اتصل بنا</a>
            </div>
            <div class="navbar-nav me-auto">
              <div class="inner-container">
                <% if(isUser) { %>
                  <form action="/logout" method="POST">
                    <input type="submit" value="تسجيل الخروج" class="btn btn-outline-danger">
                  </form>
                  <% } else { %>
                    <a href="/login">
                      <button class="btn btn-outline-danger">تسجيل الدخول</button>
                    </a>
                  <% } %>
                </div>
              
              </div>
          </div>
      
  </nav>
</header>
    <!-- end header-->

    <!-- cart + summary -->
    <section class="my-5">
      <div class="container">
        <div class="row">
          <!-- cart items -->
          <div class="col-lg-9">
            <p type="hidden"><%let d%></p>
            <h4 class="card-title mb-4">سلة المشتريات:</h4>
            <% if (items && items.length >= 0) { %> <% if(items.length==0){ %>
            <p class="alert alert-danger">لا يوجد طلبات</p>
            <% d=0%> <% } else{ %> <% for(let i=0 ; i < items.length; i++) { %>
            <% d=4%>
            <div class="col-lg-9 mb-3">
              <div class="card border shadow-0">
                <div class="m-4">
                  <div
                    style="border-bottom: 1px solid #eee"
                    class="row gy-3 mb-4 pb-2">
                    <div class="col-lg-5">
                      <div class="me-lg-1">
                        <div class="d-flex">
                          <img
                            src="/img/<%=items[i].disheId.image_name %>"
                            alt="<%=items[i].disheId.image_name %>"
                            class="border rounded ms-3"
                            style="width: 100%; height: 250px"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-6">
                      <h4 class="mt-2 mb-4"><%= items[i].title %></h4>
                      <br />
                      <div
                        class="d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                        <div class="">
                          <form action="/cart/update" method="POST">
                            <div class="input-group mb-3" style="width: 150px">
                              <input
                                type="hidden"
                                name="itemId"
                                value="<%= items[i]._id %>"/>
                              <button
                                type="submit"
                                class="btn btn-white border border-secondary quantity-left-minus"
                                id="button-addon1"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-minus"></i>
                              </button>
                              <input
                                id="quantity"
                                type="number"
                                name="newamount"
                                class="form-control text-center border border-secondary"
                                min="1"
                                max="10"
                                value="<%= items[i].amount %>"/>
                              <button
                                type="submit"
                                class="btn btn-white border border-secondary quantity-right-plus"
                                id="button-addon2">
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                          </form>
                        </div>
                        <div class="">
                          <text class="h6 me-3"
                            >$<%= items[i].oldprice * items[i].amount %></text>
                          <br />
                          <small class="text-muted text-nowrap me-3">
                            سعر الواحدة : $ <%= items[i].oldprice %></small>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-lg col-sm-6 d-flex justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end mb-2" >
                      <div class="float-md-end d-flex flex-row my-2">
                        <form action="/cart/addToFavorites" method="POST">
                          <input
                            type="hidden"
                            name="dishId"
                            value="<%=items[i].disheId._id %>"/>
                          <input type="hidden" name="ref" value="/cart" />
                          <button
                            class="btn btn-light border px-2 icon-hover-primary">
                            <i class="fas fa-heart fa-lg px-1 text-danger"></i>
                          </button>
                        </form>
                        <form
                          method="POST"
                          action="/cart/delete/<%=items[i]._id%>">
                          <input
                            type="submit"
                            class="btn btn-light border text-danger"
                            value="إزالة" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %> <% } %> <% } %>
          </div>
          <!-- cart items -->

          <!-- summary -->

          <div class="col-lg-3 py-5 px-0 mt-4 pb-2">
            <form action="/cart/checkout" method="POST">
              <div class="card mb-2 border shadow-0">
                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label">عنوانك:</label>

                    <div class="input-group" id="city">
                      <input
                        type="text"
                        class="form-control border address"
                        name="deliveryAddress"
                        placeholder="المنطقة-الشارع-رقم المنزل"
                        required />
                    </div>
                  </div>
                </div>
              </div>

              <div class="card shadow-0 border">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p hidden>
                      <% let total = 0 %> <% for(let i=0 ; i < items.length;
                      i++) { %> <%= total += items[i].newprice * items[i].amount
                      %> <% } %>
                    </p>
                    <p hidden>
                      <% let totalold = 0 %> <% for(let i=0 ; i < items.length;
                      i++) { %> <%= totalold += items[i].oldprice *
                      items[i].amount %> <% } %>
                    </p>
                    <p hidden><% let discount=totalold-total %></p>
                    <p class="mb-2">سعر الأطباق:</p>
                    <p class="mb-2 total-price"><%= totalold %>$</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">التخفيض:</p>
                    <p class="mb-2 text-success">-<%= discount %>$</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">التوصيل:</p>
                    <p class="mb-2">$<%=d%></p>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">السعر الإجمالي:</p>
                    <p class="mb-2 fw-bold"><%= (totalold-discount)+d %>$</p>
                  </div>

                  <div class="mt-3">
                    <button
                      type="submit"
                      class="btn btn-success w-100 shadow-0 mb-2"
                    >
                      إتمام عملية الشراء
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- summary -->
        </div>
      </div>
    </section>
    <!-- cart + summary -->

    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js.map"></script>
    <script src="/js/dish.js"></script>
  </body>
</html>
