<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kitchens</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css.map" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/kitchen.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body class="kitchen-body">
    <!-- start header  -->
<header class="container-fluid ">
  <nav class="navbar navbar-expand-lg navbar-light ">
          <a href="/" class="navbar-brand me-4">
            <img src="img/house22.png" alt="logo" />  
              </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav me-4">
                <a href="/" class="nav-item nav-link ">الرئيسية</a>
                <a href="/Kitchens" class="nav-item nav-link">مطابخنا</a>
              <% if(isUser) { %>
                <a href="/cart" class="nav-item nav-link">سلة المشتريات</a>
                <a href="/favorite" class="nav-item nav-link">المفضلة</a>
                  <% } %>
                <a href="/about" class="nav-item nav-link">حول</a>
                <a href="/cotactUs" class="nav-item nav-link " >اتصل بنا</a>
            </div>
            <div class="navbar-nav me-auto">
              <div class="inner-container">
                <% if(isUser) { %>
                  <form action="/logout" method="POST">
                    <input type="submit" value="تسجيل الخروج" class="btn btn-outline-danger">
                  </form>
                  <% } else { %>
                    <a href="login">
                      <button class="btn btn-outline-danger">تسجيل الدخول</button>
                    </a>
                  <% } %>
                </div>
              
              </div>
          </div>
      
  </nav>
</header>

    <!-- end header-->

    <section>
 
      <div class="container py-5">    
         <% for(kitchen of kitchens){ %>
        <div class="row justify-content-center">
          <div class="col-md-12 col-xl-10 my-4">
            <div class="card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div
                      class="bg-image hover-zoom ripple rounded ripple-surface"
                    >
                      <img
                        class="w-100"
                        src="img/<%=kitchen.image_name%>"
                        alt="<%=kitchen.name %>"
                      />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div
                            class="mask"
                            style="background-color: rgba(7, 3, 3, 0.15)"
                          ></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">
                    <h5><%= kitchen.name %></h5>
                    <div class="d-flex flex-row">
                      <% for (let i = 0; i < 5; i++) { %> <% if (i <
                      kitchen.nratings) { %>
                      <div class="text-danger mb-1 me-2">
                        <i class="fa fa-star"></i>
                      </div>
                      <% } else { %>
                      <div class="text-danger mb-1 me-2">
                        <i class="far fa-star"></i>
                      </div>
                      <% } %> <% } %>
                      <span class="me-2">عدد التقييمات</span>
                    </div>
                    <div class="mt-1 mb-0 text-muted small">
                      <% for (category of categories) { %>
                      <span class="text-primary"> • </span>
                      <span><%= category.title %></span>
                      <% } %>
                    </div>
                    <p class="mb-4 mb-md-0">
                      <br />
                      <%= kitchen.description %>
                    </p>
                  </div>

                  <div
                    class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
                  >
                    <div class="d-flex flex-row align-items-center mt-3 mb-1">
                      <h3 class="mb-1 me-1 text-danger fw-bolder">
                        <%=kitchen.discount %>%
                      </h3>
                    </div>
                    <h6 class="text-success">خصم على جميع الأطباق</h6>
                    <a href="/kitchens/<%= kitchen._id %>/dishes">
                      <button
                        class="details shadow-none btn btn-outline-success btn-sm py-2"
                        type="button"
                      >
                        تفاصيل
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  <% } %>
      </div>
    
    </section>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js.map"></script>
    <script src="/js/all.min.js"></script>
  </body>
</html>
